.browser-primary {
    background-image: linear-gradient(#f5f5f5, darken(#f5f5f5, 15%) 40px);
    border-radius: 6px 6px 0 0;
    box-shadow: 0 10px 30px rgba(#000,.2);
    margin-right: 5%;
    margin-left: 5%;
    padding-top: 20px;
    position: relative;
    top: (27px * 3.5);

    @include respond-to(small) {
        margin-right: 0;
        margin-left: 0;
        left: (27px * .75);
    }

    img {
        border-top: 1px solid darken(#ccc,10%);

        @include respond-to(small) {
            max-width: 500px;
        }
    }
}

.browser-secondary {
    background-clip: padding-box;
    border-radius: 3px;
    box-shadow: 0 5px 10px rgba(#000,.5);
    &:not(:last-child) {
        margin-right: 5px;
    }

    img {
        border-radius: 3px;
    }
}

.browser-dots {
    background-color: #fff;
    border-radius: 7px;
    height: 7px;
    position: absolute;
    top: 7px;
    left: 7px;
    width: 7px;
    &:before,
    &:after {
        background-color: #fff;
        border-radius: 7px;
        display: block;
        content: "";
        height: 7px;
        position: absolute;
        width: 7px;
    }
    &:before {
        margin-left: 11px;
    }
    &:after {
        margin-left: 22px;
    }
}
