.browser {
    border-radius: 6px 6px 0 0;
}

.browser--primary {
    background-image: linear-gradient(#f5f5f5, darken(#f5f5f5, 15%) 40px);
    box-shadow: 0 10px 40px rgba(#000, .2);
    padding-top: 24px;
}

.browser--secondary {
    background-image: linear-gradient(#f5f5f5, darken(#f5f5f5, 15%) 20px);
    box-shadow: 0 5px 20px rgba(#000, .2);
    padding-top: 18px;
    &:not(:last-child) {
        margin-right: 6px;
    }
}

.browser-viewport {
    border-top: 1px solid rgba(#000, .1);
    height: 400px;
    overflow-y: scroll;

    @include respond-to(small) {
        height: 500px;
    }
}

.browser-viewport--secondary {
    height: 270px;

    @include respond-to(small) {
        height: 420px;
    }
}
