.btn {
    border-radius: 2px;
    display: inline-block;
    font-weight: 500;
    line-height: 1;
    padding: .6em 1em;
    transition: all .25s ease;
    text-align: center;
    text-decoration: none;
    &:hover {
        opacity: 1;
        .btn-arrow {
            max-width: 100px;
            opacity: 1;
        }
    }
}

.btn--primary {
    background-color: #fff;
    border-color: #fff;
    color: #222;
}

.btn--secondary {
    background-color: #222;
    border-color: #222;
    color: #fff;
}

.btn-arrow {
    display: inline-block;
    max-width: 0;
    opacity: 0;
    transition: all .25s ease;
}
