.btn {
    background-color: #fff;
    color: #222;
    display: inline-block;
    justify-content: center;
    line-height: 1;
    padding: 1em 1.5em;
    text-align: center;
    text-decoration: none;
    &:hover {
        background-color: #222;
        color: #fff;
    }

    @include respond-to(small) {
        height: 50%;
    }
}

.btn-arrow {
    display: inline-block;
    font-size: 12px;
    margin-left: 7px;
}
