.btn {
    border-style: solid;
    border-width: 2px;
    display: inline-block;
    font-weight: 400;
    line-height: 1;
    padding: .7em 1.5em;
    text-align: center;
    text-decoration: none;
    &:hover {
        background-color: #fff;
        color: #222;
    }
}

.btn--primary {
    // background-color: #fff;
    border-color: #fff;
    color: #222;
}

.btn--secondary {
    // background-color: #222;
    border-color: #fff;
    color: #fff;
}

.btn-arrow {
    display: inline-block;
    font-size: 14px;
    // max-width: 0;
    // opacity: 0;
    transition: all .25s ease;
}
