.footer {
    background-color: #222;
    color: #fff;
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;

    @include respond-to(small) {
        padding-top: (30px * 2);
        padding-bottom: (30px * 2);
    }

    .small {
        display: block;

        + .small {
            margin-top: 1em;
        }
    }
}
