.footer {
    background-color: #222;
    color: #fff;
    padding-top: 32px * 2;
    padding-bottom: 32px * 2;
    text-align: center;

    .alpha {
        margin-bottom: 0;
    }

    .small {
        display: inline-block;

        + .small {
            margin-left: 20px;
        }
    }
}
