.hero-unit {
    padding-top: (27px * 5);
    padding-bottom: (27px * 4);
    // text-align: center;

    p {
        // font-weight: 300 !important;
    }

    @include respond-to(small) {
        // margin-right: auto;
        // margin-left: auto;
        padding-top: (27px * 7);
        // padding-bottom: (27px * 5);
        width: 50%;
    }
}

.hero-tagline  {
    @extend %uppercase;

    font-size: 12px;
    // padding-bottom: 27px;

    @include respond-to(small) {
        // padding-bottom: 32px;
    }
}
