.hero {
    // text-align: center;

    a {
        color: #222;
    }
}

.hero-unit {
    padding-top: 28px * 4;
    padding-bottom: 28px * 3;

    @include respond-to(small) {
        padding-top: 32px * 6;
        padding-bottom: 32px * 4;
    }
}

.hero-tagline  {
    padding-bottom: 28px;

    @include respond-to(small) {
        padding-bottom: 32px;
    }
}
