.i {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 24px;
    display: inline-block;
    height: 24px;
    line-height: 1;
    width: 24px;

    @include respond-to(small) {
        background-size: (27px * 1);
        height: (27px * 1);
        width: (27px * 1);
    }
}


.i--twitter {
    background-image: url(../images/twitter.svg);
}

.i--github {
    background-image: url(../images/github.svg);
}

.i--spotify {
    background-image: url(../images/spotify.svg);
}

.i--dribbble {
    background-image: url(../images/dribbble.svg);
}

.i--instagram {
    background-image: url(../images/instagram.svg);
}
