.island {
    // border-radius: 4px;
    height: 700px;
    // padding: (30px * 2) 0 (30px * 2) (30px * 2);

    @include respond-to(small) {
        // padding: 30px * 3;
        overflow: hidden;
    }
}

.island--a {
    background-color: darken(#00aba2, 0%);
    color: #fff;
    &:hover {
        // background-color: darken(#00aba2, 10%);
    }
}


.island--b {
    background-color: darken(#b2c5bc, 0%);
    color: #fff;
    &:hover {
        // background-color: darken(#b2c5bc, 20%);
    }
}


.island--c {
    background-color: lighten(#bed22f, 0%);
    color: #fff;
}
