.projects {
    flex-wrap: wrap;
}

.project-card {
    flex-grow: 1;
    overflow: hidden;
    position: relative;
    &:hover {
        &:before {
            content: "";
            display: block;
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            z-index: 1;
        }
    }

    @include respond-to(small) {
        width: calc(33.333%);
        // width: calc(25% - 3px);
        &:not(:last-child) {
            // margin-right: 1px;
        }
        &:hover {
            .btn {
                opacity: 1;
                transform: translateY(0) scale(1);
            }
        }
    }

    .btn {
        position: absolute;
        right: 5%;
        bottom: 5%;
        left: 5%;
        z-index: 50;

        @include respond-to(small) {
            opacity: 0;
            right: (27px * .75);
            bottom: (27px * .75);
            left: (27px * .75);
            transform: translateY(-18px) scale(.95);
        }
    }
}


.project-card--a,
.project-card--b,
.project-card--c {
    height: 650px;

    @include respond-to(small) {
        height: 675px;
    }
}

.project-card--a {
    background-color: #00aba2;
    color: #fff;
    &:hover {
        &:before {
            background-color: rgba(#00aba2,.75);
        }
    }
}

.project-card--b {
    background-color: #bed22f;
    color: #fff;
    &:hover {
        &:before {
            background-color: rgba(#bed22f,.75);
        }
    }
}

.project-card--c {
    background-color: #b2c5bc;
    color: #fff;
    &:hover {
        &:before {
            background-color: rgba(#b2c5bc,.75);
        }
    }
}

.project-card--d {
    background-color: #252526;
    color: #fff;
    height: 450px;

    @include respond-to(small) {
        height: 775px;
    }
}

.project-header {
    padding: 5%;
    position: relative;
    z-index: 50;

    @include respond-to(small) {
        padding: (27px * .75);
    }
}

.project-title {
    margin-bottom: 0;

    a {
        text-decoration: none;
        &:hover {
            color: inherit;
        }
    }
}
