.social {
    line-height: 1;
    margin-bottom: 0;
    margin-left: auto;

    > li {
        &:not(:last-child) {
            margin-right: 12px;

            @include respond-to(small) {
                margin-right: 20px;
            }
        }
    }
}

.social-text {
    display: none;

    @include respond-to(small) {
        display: block;
        margin-left: 10px;
    }
}


.yolo {
    line-height: 24px;
    padding-left: 28px;
    position: relative;
    &:before {
        content: "👋";
        font-size: 24px;
        margin-right: 12px;
        position: absolute;
        top: 55%;
        left: 0;
        transform: translateY(-50%);

        @include respond-to(small) {
            font-size: 28px;
        }
    }

    @include respond-to(small) {
        line-height: 26px;
        padding-left: 36px;
    }
}
