.social {
    line-height: 1;
    margin-bottom: 0;
    margin-left: auto;

    > li {
        &:not(:last-child) {
            margin-right: 12px;

            @include respond-to(small) {
                margin-right: 18px;
            }
        }
    }
}

.social-text {
    @extend %uppercase;

    display: none;
    font-size: 14px;
    font-weight: 700;

    @include respond-to(small) {
        // display: block;
        margin-left: 10px;
    }
}

.yolo {
    // @extend %uppercase;

    color: #222;
    font-weight: 700;
    text-decoration: none;
}
