.work,
article {
    flex-direction: column;

    @include respond-to(small) {
        flex-direction: row;
    }
}

.work-block {
    width: 100%;

    @include respond-to(small) {
        order: 2;
        width: 65%;
    }

    + .work-block {
        @include respond-to(small) {
            order: 1;
            width: 35%;
        }
    }
}

.work-img {
    margin-bottom: (28px / 2);

    @include respond-to(small) {
        margin-top: (32px * 2);
        margin-bottom: 0;
    }
}

.work-meta {
    @include respond-to(small) {
        margin-right: (32px * 1);
        // margin-left: (32px * 1);
    }
}

.work-header {
    margin-bottom: .5em;

    @include respond-to(small) {
        margin-bottom: 1em;
    }
}

.work-title {
    line-height: 1;
    margin-bottom: 0;

    a {
        text-decoration: none;
    }
}

.work-desc {
    display: inline-block;
    font-weight: 500;
    opacity: .65;
    text-transform: uppercase;
}
