.work,
article {
    flex-direction: column;

    @include respond-to(small) {
        flex-direction: row;
    }
}

.work {
    // flex-basis: 33%;
    // flex: 1;
    float: left;
    // margin-right: 6%;
    // outline: 1px solid red;
    padding-right: 0;
    // padding-left: 1%;
    width: 50%;
    &:nth-child(2n) {
        margin-right: 0;
        // outline: 1px solid red;
    }
}

.work-block {
    margin-bottom: 30px;
    width: 100%;

    @include respond-to(small) {
        order: 2;
        width: 50%;
    }

    + .work-block {
        // background-color: rgba(#000,.5);

        @include respond-to(small) {
            order: 1;
            width: 50%;
        }
    }
}

.work-block--offset {
    @include respond-to(small) {
        margin-bottom: -120px;
    }
}

.work-meta {
    @include respond-to(small) {
        margin-right: (30px * 3);
        // margin-left: (30px * 2.5);
    }
}

.work-header {
    margin-bottom: .5em;

    @include respond-to(small) {
        margin-bottom: 1em;
    }
}

.work-title {
    line-height: 1;
    margin-bottom: 0;

    a {
        text-decoration: none;
    }
}

.work-desc {
    display: inline-block;
    font-weight: 500;
    opacity: .65;
    text-transform: uppercase;
}
