@import
    "normalize";

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 500;
    margin-top: 0;
}

.giga {
    color: #222;
    font-family: $serif;
    font-size: 54px;
    line-height: 1.2;
    margin-bottom: .4em;

    @include respond-to(small) {
        font-size: 83px;
        // font-size: 130px;
        letter-spacing: -.02em;
        margin-bottom: .3em;
    }
}

h1,
.alpha {
    font-size: 24px;
    line-height: 1.5;

    @include respond-to(small) {
        font-size: 32px;
    }
}

h2,
.beta {
    font-size: 18px;

    @include respond-to(small) {
        font-size: 20px;
    }
}

h3,
.gamma {
    font-size: 14px;
}

p {
    margin-top: 0;
    &:last-child {
        margin-bottom: 0;
    }
}

* {
    box-sizing: border-box;
    &:after {
        box-sizing: inherit;
    }
}

html,
body {
    font-feature-settings: "kern" 1, "liga" 1, "calt" 1, "pnum" 1, "tnum" 0, "onum" 1, "lnum" 0, "dlig" 0;
}

html {
    background-color: #fff;
    box-sizing: border-box;
    color: darken(#666, 5%);
    // font-family: $serif;
    font-family: $sans-serif;
    font-kerning: normal;
    font-size: 18px;
    line-height: 1.6;
    text-rendering: optimizeLegibility;

    @include respond-to(small) {
        font-size: 20px;
    }
}

::-moz-selection {
    background: #b3d4fc;
    color: #fff;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    color: #fff;
    text-shadow: none;
}

img {
    height: auto;
    max-width: 100%;
    vertical-align: middle;
}

a {
    color: inherit;
    text-decoration: underline;
    transition-property: all;
    transition-duration: .25s;
    transition-timing-funtion: ease;
    &:hover {
        text-decoration: none;
    }
}
