@font-face {
    font-family: 'OfficeCode';
    font-weight: 300;
    src:  url(webfonts/OfficeCodeProD-Light.woff2) format(woff2),
          url(webfonts/OfficeCodeProD-Light.woff) format(woff);
}

@import
    "normalize";

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0;
}

.giga,
.mega {
    color: #222;
    font-weight: 500;
}

.giga {
    font-size: 40px;
    line-height: 1.35;

    @include respond-to(small) {
        font-size: 60px;
    }
}

.mega {
    font-size: 30px;
    line-height: 1.35;

    @include respond-to(small) {
        font-size: 40px;
    }
}

h1,
.alpha {
    font-size: 23px;

    @include respond-to(small) {
        font-size: 30px;
    }
}

h2,
.beta {
    font-size: 20px;
}

h3,
.gamma {
    font-size: 18px;
}

h4,
.delta {
    font-size: 14px;
}

p {
    margin-top: 0;
    &:last-child {
        margin-bottom: 0;
    }
}

* {
    box-sizing: border-box;
    &:after {
        box-sizing: inherit;
    }
}

html,
body {
    font-feature-settings: "kern" 1, "liga" 1, "calt" 1, "pnum" 1, "tnum" 0, "onum" 1, "lnum" 0, "dlig" 0;
}

html {
    background-color: #fff;
    box-sizing: border-box;
    color: lighten(#222,15%);
    // font-family: $serif;
    font-family: $sans-serif;
    // font-family: $monospace;
    -webkit-font-smoothing: antialiased;
    font-size: 18px;
    line-height: 1.5;
    text-rendering: optimizeLegibility;

    @include respond-to(small) {
        // font-size: 20px;
    }
}

::-moz-selection {
    background: #b3d4fc;
    color: #fff;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    color: #fff;
    text-shadow: none;
}

img {
    height: auto;
    max-width: 100%;
    vertical-align: middle;
}

a {
    color: inherit;
    text-decoration: underline;
    transition-property: all;
    transition-duration: .25s;
    transition-timing-funtion: ease-in-out;
    &:hover {
        color: #11bb92;
        // text-decoration: none;
    }
}
