.l-stacked,
.l-inline,
.l-grid {
    @extend %nobullets;

    margin-bottom: 0;
}

.l-inline {
    > li {
        display: inline-block;
    }
}

.l-grid {
    @extend %clearfix;

    margin-bottom: 0;

    > li {
        float: left;
    }
}

.l-header {
    position: absolute;
    top: 28px;
    right: (30px * 1);
    left: (30px * 1);

    @include respond-to(small) {
        top: 30px;
        // right: (30px * 2);
        // left: (30px * 2);
    }

    a {
        text-align: left;
    }

    .social {
        text-align: right;
    }
}

.l-constrained,
.l-constrained-tight {
    margin-right: auto;
    margin-left: auto;
    // outline: 1px solid red;
}

.l-constrained {
    max-width: 1300px;
    padding-left: (30px * 1);
    padding-right: (30px * 1);
    position: relative;
}

.l-constrained-tight {
    max-width: 940px;
    // width: 65%;
}
