.l-stacked,
.l-inline,
.l-grid {
    @extend %nobullets;

    margin-bottom: 0;
}

.l-inline {
    > li {
        display: inline-block;
    }
}

.l-grid {
    @extend %clearfix;

    margin-bottom: 0;

    > li {
        float: left;
    }
}

.l-header {
    padding-top: 28px;
    text-align: center;

    @include respond-to(small) {
        padding-top: 30px;
    }

    a {
        text-decoration: none;
        // outline: 1px solid red;
    }
}

.l-constrained,
.l-constrained-tight {
    margin-right: auto;
    margin-left: auto;
}

.l-constrained {
    max-width: 1160px;
    padding-left: (28px * 1);
    padding-right: (28px * 1);

    @include respond-to(small) {
        padding-left: (30px * 1);
        padding-right: (30px * 1);
    }
}

.l-constrained-tight {
    max-width: 860px;
}
